body {margin:0;}
a {
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a:hover {
    border-bottom: 2px solid black;
	font-weight: bolder;
}

h2 {
	margin: 0;
	padding: 25px;
	overflow: hidden;
	background-color: black;
	color: white;
	top: 0;
	max-width: 95%;
}
h4 {
	margin-left: 10%;
}
.links {
	font-size: 20px;
	list-style-type: none;
	max-width: 95%;
	display: flex;
    justify-content: center;
}

.codeBlock {
	background-color: black;
	color: white;
	margin-left: 10%;
	max-width: 75%;
	font-weight: bolder;
	padding-left: 15px;
	font-size: 14px;
}
.desc {
	margin-top: 4%;
	margin-left: 10%;
	max-width: 75%;
	font-size: 16px;
}